.App {
  font-family: "Lobster", cursive;
  text-align: center;
}
.weatherapp {
  border: 1px solid grey;
  border-radius: 10px;
  margin: auto;
  padding: 20px;
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}
#currentDate {
  display: block;
  text-align: center;
}

.active {
  color: black;
}
.active:hover {
  color: black;
  text-decoration: none;
  cursor: default;
}

#display {
  border-radius: 10px;
  padding: 5px;
  width: 50px;
  background-color: #ffffc7;
}
