#weatherIcon {
    font-size: 200px;
    text-align: center;
    padding: 50px;
  }
  #currentWeather {
    text-align: left;
  }
  .currentWind {
    display: block;
    margin: 20px;
    text-align: right;
    color: grey;
    font-size: 30px;
  }
  #wind {
    color: black;
    font-size: 30px;
  }