@import url('https://fonts.googleapis.com/css?family=Lobster:regular,bold,italic&subset=latin,latin-ext');

body {
  margin: 0;
  font-family: "Lobster", cursive;}

code {
  font-family: "Lobster", cursive;}
