.date{
  display:block;
  font-size: 20px;
  text-align: center;
}
  
  #currentWeather {
    text-align: left;
  }
  .currentWind {
    text-align: right;
    color: grey;
    font-size: 30px;
  }
  #wind {
    color: black;
    font-size: 30px;
  }